<div style="text-align: center">
<div class="dis">
  <div class="d1"><h1 class="pandasTitle"> Welcome to pandas project from pandasneezing </h1>
  <div style="margin-top: 13px;"><p>Add your panda friend at list</p></div>
  </div>
  <div class="d2"><img [src]="'assets/images/pandaBlue.png'" alt="image" width="250"></div>
</div>  

<div class="container">
  <button (click)="Listar()" class="btn btn-info">List pandas</button>
  <button (click)="Nuevo()" class="btn btn-info" style="margin-left: 12px;">New panda</button>
</div>
<hr>

<router-outlet></router-outlet>